Its very important in retail business to understand customer buying pattern and association of items which are brought by customer. This project is to do market basket analysis/Association Analysis. 

This Code reads file from 
1. S3 containing customernumber (INT), Itemnbr(INT), Qty(INT). 
2. Used Jupiter to read the file and uses apriori for association analysis
3. Association analysis result are the stored in file and put back in amazon S3.

In [1]:
import csv
import pandas as pd
import gzip
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder
import boto3
from sqlalchemy import create_engine
import pandas as pd
connstr='<enter connection string>'
engine =create_engine(connstr)


Below is to connect to AWS S3 and connect to S3. 
Data in File is in format of customernumber (INT), Itemnbr(INT), Qty(INT)

In [2]:
#Fetch Data from amazon S3 using boto3 Libarary 

bucket = "<AWS Bucket Name>"
file_name = "<File Name>"

s3 = boto3.client('s3') 
# 's3' is a key word. create connection to S3 using default config and all buckets within S3

obj = s3.get_object(Bucket= bucket, Key= file_name) 
# get object and file (key) from bucket

dataset = pd.read_csv(obj['Body'], compression='gzip', header=0, sep=',', quotechar='"',encoding="utf-8-sig")

In [9]:
# Test the dataset is fetching data correctly
dataset.head()

      seqnbr  itemnbr  quantity
0  628770236   671015         1
1  628770236   415500         1
2  628770153   180498         1
3  628770005   798971         1
4  628770005   724887         1

In [10]:
# print the Headers of the dataset
print(dataset.columns.tolist())

['seqnbr', 'itemnbr', 'quantity']

In [11]:
#prepare data step 1: creating basket
basket = (dataset.groupby(['seqnbr', 'itemnbr'])['quantity'].sum().unstack().reset_index().fillna(0).set_index('seqnbr'))

In [12]:
# Test the basket data sample
basket.head()

itemnbr,100573,101397,103135,105972,106206,106586,109293,109393,110848,112572,...,905086,907234,907429,907491,907623,908597,910024,912089,912229,912249
seqnbr,,,,,,,,,,,,,,,,,,,,,
628518360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
628518362,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
628518711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
628518715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
628518720,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [13]:
#prepare data step 2: 

def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)

In [14]:
#using apriori for market basket and getting item feq which are brough together
frequent_itemsets = apriori(basket_sets, min_support=0.0007, use_colnames=True)

In [15]:
# Test the frequent_itemsets sample
frequent_itemsets.head()

    support  itemsets
0  0.001133  [100573]
1  0.003398  [101397]
2  0.010193  [103135]
3  0.001133  [105972]
4  0.006795  [106206]

In [16]:
# filter data for min_threshold =1.1
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.1)

In [17]:
rules["antecedant_len"] = rules["antecedants"].apply(lambda x: len(x))
rules["consequents_len"] = rules["consequents"].apply(lambda x: len(x))

rules[ (rules['antecedant_len'] == 1) & (rules["consequents_len"]==1)&
       (rules['confidence'] > 0.75) &
       (rules['lift'] > 1.2) ]

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedant_len,consequents_len
1,(100573),(101397),0.001133,0.003398,0.001133,1.0,294.333333,0.001129,inf,1,1
3,(100573),(142264),0.001133,0.032843,0.001133,1.0,30.448276,0.001095,inf,1,1
5,(100573),(166476),0.001133,0.002265,0.001133,1.0,441.500000,0.001130,inf,1,1
7,(100573),(168523),0.001133,0.012458,0.001133,1.0,80.272727,0.001118,inf,1,1
9,(100573),(351504),0.001133,0.069083,0.001133,1.0,14.475410,0.001054,inf,1,1
10,(100573),(671015),0.001133,0.097395,0.001133,1.0,10.267442,0.001022,inf,1,1
62,(696050),(106206),0.001133,0.006795,0.001133,1.0,147.166667,0.001125,inf,1,1
78,(109293),(639287),0.001133,0.052095,0.001133,1.0,19.195652,0.001074,inf,1,1
137,(887863),(115234),0.001133,0.006795,0.001133,1.0,147.166667,0.001125,inf,1,1
142,(158226),(115771),0.001133,0.003398,0.001133,1.0,294.333333,0.001129,inf,1,1
145,(175774),(115771),0.001133,0.003398,0.001133,1.0,294.333333,0.001129,inf,1,1
163,(118084),(166978),0.001133,0.010193,0.001133,1.0,98.111111,0.001121,inf,1,1
164,(118084),(168342),0.001133,0.037373,0.001133,1.0,26.757576,0.001090,inf,1,1
196,(122798),(165399),0.001133,0.014723,0.001133,1.0,67.923077,0.001116,inf,1,1
199,(122798),(898390),0.001133,0.004530,0.001133,1.0,220.750000,0.001127,inf,1,1
226,(130666),(671015),0.001133,0.097395,0.001133,1.0,10.267442,0.001022,inf,1,1
230,(151640),(133445),0.001133,0.011325,0.001133,1.0,88.300000,0.001120,inf,1,1
236,(176370),(133445),0.001133,0.011325,0.001133,1.0,88.300000,0.001120,inf,1,1
371,(776182),(141825),0.001133,0.006795,0.001133,1.0,147.166667,0.001125,inf,1,1
375,(164601),(142264),0.001133,0.032843,0.001133,1.0,30.448276,0.001095,inf,1,1
391,(181544),(142264),0.001133,0.032843,0.001133,1.0,30.448276,0.001095,inf,1,1
425,(849025),(142264),0.001133,0.032843,0.001133,1.0,30.448276,0.001095,inf,1,1
460,(151640),(157332),0.001133,0.009060,0.001133,1.0,110.375000,0.001122,inf,1,1
462,(151640),(245953),0.001133,0.006795,0.001133,1.0,147.166667,0.001125,inf,1,1
464,(151640),(894362),0.001133,0.024915,0.001133,1.0,40.136364,0.001104,inf,1,1
491,(696050),(152433),0.001133,0.010193,0.001133,1.0,98.111111,0.001121,inf,1,1
550,(156385),(695300),0.001133,0.031710,0.001133,1.0,31.535714,0.001097,inf,1,1
594,(158226),(175774),0.001133,0.001133,0.001133,1.0,883.000000,0.001131,inf,1,1
595,(175774),(158226),0.001133,0.001133,0.001133,1.0,883.000000,0.001131,inf,1,1
596,(158226),(182507),0.001133,0.006795,0.001133,1.0,147.166667,0.001125,inf,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1212,(180457),(177158),0.001133,0.001133,0.001133,1.0,883.000000,0.001131,inf,1,1
1213,(177158),(180457),0.001133,0.001133,0.001133,1.0,883.000000,0.001131,inf,1,1
1221,(177451),(351504),0.001133,0.069083,0.001133,1.0,14.475410,0.001054,inf,1,1
1222,(177451),(695300),0.001133,0.031710,0.001133,1.0,31.535714,0.001097,inf,1,1
1251,(776182),(180419),0.001133,0.004530,0.001133,1.0,220.750000,0.001127,inf,1,1
1274,(180928),(898585),0.001133,0.002265,0.001133,1.0,441.500000,0.001130,inf,1,1
1298,(181544),(393595),0.001133,0.012458,0.001133,1.0,80.272727,0.001118,inf,1,1
1300,(181544),(415500),0.001133,0.024915,0.001133,1.0,40.136364,0.001104,inf,1,1
1338,(849025),(182925),0.001133,0.004530,0.001133,1.0,220.750000,0.001127,inf,1,1
1346,(183008),(833621),0.002265,0.013590,0.002265,1.0,73.583333,0.002234,inf,1,1
1351,(183135),(833621),0.001133,0.013590,0.001133,1.0,73.583333,0.001117,inf,1,1
1384,(696050),(183614),0.001133,0.004530,0.001133,1.0,220.750000,0.001127,inf,1,1
1425,(862601),(245953),0.001133,0.006795,0.001133,1.0,147.166667,0.001125,inf,1,1
1527,(711670),(351504),0.001133,0.069083,0.001133,1.0,14.475410,0.001054,inf,1,1
1573,(845469),(388379),0.001133,0.004530,0.001133,1.0,220.750000,0.001127,inf,1,1
1651,(711670),(438500),0.001133,0.003398,0.001133,1.0,294.333333,0.001129,inf,1,1
1761,(649342),(625556),0.003398,0.019253,0.003398,1.0,51.941176,0.003332,inf,1,1
1796,(845469),(639287),0.001133,0.052095,0.001133,1.0,19.195652,0.001074,inf,1,1
1824,(696050),(671015),0.001133,0.097395,0.001133,1.0,10.267442,0.001022,inf,1,1
1834,(776182),(671015),0.001133,0.097395,0.001133,1.0,10.267442,0.001022,inf,1,1
1872,(683408),(688631),0.001133,0.014723,0.001133,1.0,67.923077,0.001116,inf,1,1
1892,(839112),(688537),0.001133,0.045300,0.001133,1.0,22.075000,0.001081,inf,1,1
1946,(696050),(748821),0.001133,0.038505,0.001133,1.0,25.970588,0.001089,inf,1,1
1948,(696050),(886114),0.001133,0.005663,0.001133,1.0,176.600000,0.001126,inf,1,1
1969,(711670),(716972),0.001133,0.010193,0.001133,1.0,98.111111,0.001121,inf,1,1
1971,(711670),(874785),0.001133,0.007928,0.001133,1.0,126.142857,0.001124,inf,1,1
2011,(804437),(716976),0.001133,0.011325,0.001133,1.0,88.300000,0.001120,inf,1,1
2073,(776182),(819390),0.001133,0.063420,0.001133,1.0,15.767857,0.001061,inf,1,1
2085,(887863),(798970),0.001133,0.013590,0.001133,1.0,73.583333,0.001117,inf,1,1
2132,(849025),(839670),0.001133,0.005663,0.001133,1.0,176.600000,0.001126,inf,1,1

In [18]:
# Test the rules dataset sample
rules.head()

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedant_len,consequents_len
0,(101397),(100573),0.003398,0.001133,0.001133,0.333333,294.333333,0.001129,1.498301,1,1
1,(100573),(101397),0.001133,0.003398,0.001133,1.000000,294.333333,0.001129,inf,1,1
2,(142264),(100573),0.032843,0.001133,0.001133,0.034483,30.448276,0.001095,1.034541,1,1
3,(100573),(142264),0.001133,0.032843,0.001133,1.000000,30.448276,0.001095,inf,1,1
4,(166476),(100573),0.002265,0.001133,0.001133,0.500000,441.500000,0.001130,1.997735,1,1

In [4]:
#Create csv file
#rules[ (rules['antecedant_len'] == 1) & (rules["consequents_len"]==1)].to_csv('test.csv',sep=',')
# Create an S3 client
s3 = boto3.client('s3')

filename = '<file Name>'
bucket_name = '<Bucket Name>'

# Uploads the given file using a managed uploader, which will split up large
# files automatically and upload parts in parallel.
s3.upload_file(filename, bucket_name, filename)